%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title NovelPool
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    
  %body
    = render "layouts/header"
    = render "layouts/tabbed"
    
    = #render "layouts/footer"
  
  
%html


